html
    head
         title= title
    body
         h1= messageTitle
         div(class='container')
            p morada: #{object.morada }
            p titulo: #{object.titulo}
            p nome: #{object.nome}
            p apelido: #{object.apelido}
            p email: #{object.email}
            p codigo postal: #{object.codigoPostal}
            p cidade: #{object.cidade}
            p pais: #{object.pais}
            p telefone: #{object.telefone}
            p data: #{object.date}
            p password:#{object.psw}
            p n carta conducao: #{object.nCartaConducao}
            p termos: #{object.termos}